'scopeName': 'source.wikiwikiwall'
'name': 'WikiWikiWall'
'fileTypes': [
  'wwwf'
]
'patterns': [
 {
 'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
 'name': 'wikiwikiwall.numeric'
 }
 {
 match: "(#).*$\\n?"
 name: "wikiwikiwall.punctuation.comment"
 }
 {
  match: "[A-Z][_0-9A-Z]+"
  name: "wikiwikiwall.alias"
  }
  {
  begin:'"'
  end:'"'
  name: "wikiwikiwall.string"
  }
   {
      match: "@"
      name: "wikiwikiwall.numeric"
    }
  {
    match: "Variable|Shape|Connector|Layout|On|North|South|East|West|Face"
    name: "wikiwikiwall.keyword"
  }
  {
  match: "Tab|Slot|Hole|Centered|Xval|Yval|Zval|Polygon"
  name: "wikiwikiwall.modifier"
  }
]
